
body{
    height: 100vh;
    width: 100vw
    position:relative;
}
.layout{
    height: 95%;
    width: 100%;
    text-align:center;
    border: 2px solid green;
    background-color:silver;
    font-weight:bold;
    font-size:25px;

}

#title{
    font-size:100px;
    border:2px solid green;
    background-color:blue;
}

.layout #queue{
    display:inline-block;
    height: 78%;
    float:right;
    width:20%;
    border: 5px dotted blue;
    position:relative;
    bottom:20%;
}

.layout #archive{
    display:inline-block;
    height:78%;
    float:left;
    width:20%;
    position: relative;
    bottom:20%;
    border: 5px solid seagreen;
}

footer{
    width:100%;
    height:20%;
    position:relative;
    border: 5px solid black;
    display:inline-block;
    background-color:blue;
}

.layout #top10{
    font-size: 60px;
    color: whitesmoke;
    height:20%;
    width: 60%;
    text-align:center;
    position:relative;
    left:20%;
    border:5px solid black;


}